@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*

* {
  border: rgb(94, 255, 0) solid 2px !important;
}
*/
:root {
  --cherry-red: #990011;
  --off-white: #fcf6f5;
  --light-cherry-red: #ff7575;
  --beige: #f35353;
}

body {
  background-color: var(--off-white);
  font-family: "Roboto", sans-serif;
}

button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 0 solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  background-color: var(--light-cherry-red);
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
}

button:hover {
  background-color: var(--off-white);
  color: var(--cherry-red);
}

.todo-list-project {
  background-color: var(--cherry-red);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
  margin: 1rem;
  width: 100%;
  max-width: 100rem;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-list-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.todo-list-project-title {
  color: var(--off-white);
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
}

.completed {
  text-decoration: line-through;
  color: var(--cherry-red);
}

.uncompleted {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.todo-element {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-cherry-red);
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
}

.todo-element > * {
  /* CSS properties for direct children of .todo-element */
  margin: auto 0.5rem;
}

.todo-element .todo-title {
  /* CSS properties for the title element */
  font-size: 1.5rem;

  flex-basis: 100px;
  gap: 10px;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-element .todo-description {
  /* CSS properties for the description element */
  font-size: 1em;
  flex-grow: 3;
  flex-basis: 100px;
  gap: 10px;
  min-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-element .todo-complete-checkbox {
  /* CSS properties for the complete checkbox */
  font-size: 1em;
}

.todo-move-down {
  transition: transform 0.2s;
}

.todo-move-up {
  transition: transform 0.2s;
}

.todo-element .todo-priority {
  /* CSS properties for the priority element */
  font-size: 1em;
  flex-basis: 55px;
  gap: 10px;
  min-width: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-element .todo-due-date {
  /* CSS properties for the due date element */
  font-size: 1em;
  flex-basis: 80px;
  min-width: 80px;
}

.todo-delete-button {
  /* CSS properties for the delete button */
  color: rgb(0, 0, 0);
  background-color: rgba(223, 149, 39, 0);
  border: none;
  box-shadow: none;
  padding: 0;
}
.todo-delete-button:hover {
  /* CSS properties for the delete button */
  color: var(--cherry-red);
}

.todo-element .todo-delete-button i:hover {
  /* CSS properties for the trash icon in the delete button */
  padding: 0;
  cursor: pointer;
}
.todo-delete-animation {
  animation: swipeLeft 0.5s forwards;
}

@keyframes swipeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: var(--off-white); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: var(--cherry-red);
  color: var(--off-white);
  border-radius: 0.5rem;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--off-white);
  margin: 15% auto; /* 15% from the top and centered */
  border-radius: 0.5rem;
  align-items: start;
  width: 30%; /* Minimum width that fits all content */
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-content label {
  color: black;
  text-align: start;
  margin: 0;
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-cherry-red);
  box-shadow: 0 0 0.5rem rgb(0, 0, 0);
}

.form-group input,
.form-group input::placeholder {
  width: 60%;
  padding: 12px 5px;
  text-align: left; /* Add this line */
  border-radius: 0.5rem;
  border: none;
  font-size: 0.75rem;
  color: #494949;
}

.form-group input:focus {
  outline: none;
}
.priority {
  width: 60%;
  background-color: var(--off-white);
  border: none;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  color: #494949;
  min-width: 50px;
  padding: 0 5px;
}

.priority label {
  width: fit-content;
  color: var(--cherry-red);
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Create a new custom radio button */
input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%; /* Move the top edge to the vertical center of the label */
  transform: translateY(-50%); /* Move it up by half its height */
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
}

/* Style the custom radio button when it's checked */
input[type="radio"]:checked + label:before {
  background-color: #aaa;
}

@media (max-width: 900px) {
  .todo-element .todo-priority,
  .todo-element .todo-due-date {
    display: none;
  }

  .priority {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
  }

  .modal-content {
    width: 90%; /* Minimum width that fits all content */
  }
}
