body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

#player-form {
  margin-bottom: 20px;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.gameCell {
  width: 120px;
  height: 120px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.gameCell:disabled {
  cursor: not-allowed;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#game-status {
  font-size: 20px;
  font-weight: bold;
}

#restart {
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restart:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.playerLabel {
  margin-bottom: 10px;
}

#player1-name {
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #2196f3;
  color: #000;
}

#player1-name:-webkit-autofill,
#player1-name:-webkit-autofill:hover,
#player1-name:-webkit-autofill:focus,
#player1-name:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #2196f3 inset !important;
}

#player2-name {
  margin-bottom: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #fa4343;
  color: #000;
}

#player2-name:-webkit-autofill,
#player2-name:-webkit-autofill:hover,
#player2-name:-webkit-autofill:focus,
#player2-name:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fa4343 inset !important;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}
